<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="/stylesheets/adminstyles.css">
    <script src="scripts/socket.io.js"></script>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <title>Type Racer</title>
  </head>
  <body>
    <input id='para' type="text" name="para" value="">
    <button onclick="set_paragraph()" type="button" name="submit">Submit Para</button>
    <button onclick='set_timer()' type="button" name="submit">Start Timer</button>
    <div id="timer"></div>
    <div id="game"></div>
    <div id="leaderboards" class="w3-container">
      <table class="w3-table w3-card-4" id = "leader_table">
      </table>
    </div>




    <script type="text/javascript">
      var socket = io();
      var set_timer = function(){
        socket.emit('set_timer');
      }
      var set_paragraph = function(){
        socket.emit('set_paragraph',$('#para').val())
      }
      socket.on('timer_is_set', function () {
        initializeClock('timer',new Date()+5)
      });

      socket.on('start_game', function (data) {
        $("#game").html(data)
      });
      socket.on('leaderboards',function(leaderboards,start_time){
        players = []
        for(player in leaderboards){

          players.push([player,leaderboards[player]['score'],leaderboards[player]['time']])
        }
        players.sort(function(a,b){
          if(b[1] == a[1]){
            return a[2]-b[2]
          }
          return b[1]-a[1]
        })

        $('#leader_table').html("<tr class='w3-red'><th>Rank</th><th>Name</th><th>Words</th><th>Time Taken</th></tr>")
        for(var i =0;i<players.length;i++){
          player = players[i]
          index = i+1
          time_elapsed = ('0'+Math.floor( (player[2]/1000/60) % 60 )).slice(-2) + ":"+('0'+Math.floor( (player[2]/1000) % 60 )).slice(-2) + ":"+('0' + Math.floor((player[2] %1000)/10)).slice(-2)
          var ele = "<tr class='w3-animate-left'><td>"+index+"</td><td>"+player[0]+"</td><td>"+player[1]+"</td><td>"+time_elapsed+"</td></tr>"
          console.log(ele);

        $('#leader_table').html("<thead><td>Rank</td><td>Name</td><td>Words</td><td>Time Taken</td><td>Words Per Minute</td></thead>")
        for(var i =0;i<players.length;i++){
          player = players[i]
          index = i+1
          var minutes = Math.floor( (player[2]/1000/60) % 60 )
          var seconds = Math.floor( (player[2]/1000) % 60 )
          var milliseconds = Math.floor((player[2] %1000)/10)
          time_elapsed = ('0'+minutes).slice(-2) + ":"+('0'+seconds).slice(-2) + ":"+('0' + milliseconds).slice(-2)
          time_taken = minutes+(seconds/60)
          var wpm = player[1] / (minutes+(seconds/60))
          wpm = Math.round (wpm*100) / 100
          var ele = "<tr><td>"+index+"</td><td>"+player[0]+"</td><td>"+player[1]+"</td><td>"+time_elapsed+"</td><td>"+wpm+"</td></tr>"
          $('#leader_table').append(ele)
        }
      };
      var getTimeRemaining = function(endtime){
        var now = new Date();
        var t = Date.parse(endtime) - Date.parse(now);
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60 );
        var hours = Math.floor( (t/(1000*60*60)) % 24 );
        var days = Math.floor( t/(1000*60*60*24) );

        if(t<=0){
          return {
            'total': 0,
            'days': 0,
            'hours': 0,
            'minutes': 0,
            'seconds': 0
          };
        }else{
          return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
          };
        }
      }

      function initializeClock(id, endtime){
        var clock = document.getElementById(id);
        function updateClock(){
          var t = getTimeRemaining(endtime);

          clock.innerHTML =
                            ('0' + t.hours).slice(-2) + ':' +
                            ('0' + t.minutes).slice(-2) + ':' +
                           ('0' + t.seconds).slice(-2);
          if(t.total<=0){
            clearInterval(timeinterval);
          }
        }
        updateClock()
        var timeinterval = setInterval(updateClock,1000);
      }
      // var t = new Date();
      // t.setSeconds(t.getSeconds() + 10);
      // initializeClock('timer',t)
    </script>
  </body>
</html>
