<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <title>Type Racer</title>
  </head>
  <body>

    <div class="w3-container w3-center">
      <div id="main"></div>
      <h1 class="w3-allerta w3-text-red w3-animate-top" id="timer">00:00:05</h1>
      <div class="w3-container w3-border w3-round">
        <h3 class="w3-text-grey w3-source-code" id="game">Wait for it.</h3>
      </div>
      <div id="result"></div>
    </div>

    <div class="inputdiv">
        <h3 class=" label w3-blue">Typing lane</h3>
        <input class="w3-topbar w3-border-blue w3-input w3-border-0 w3-light-grey w3-text-blue-grey" type="text" id="inputbox" placeholder="Ready to Race?">
        <!--<button class="w3-btn w3-green" type="submit" onclick="check_para()">Submit</button>-->
    </div>

    <!--________________________SCRIPT_______________________-->
    <script type="text/javascript">
    var para, words, ctr;
    $(document).ready(function(){
      initializePage();
      socket = io();
      var location = window.location.pathname.split('/')
      var name = location[location.length-1]
      socket.emit("new_player",name);
      console.log(name);
      socket.on('timer_is_set', function (data) {
        initializeClock('timer',data)
      });
      socket.on('timer_is_set', function (data) {
        initializePage();
        initializeClock('timer',data)
      });
      socket.on('start_game', function (data) {
        var begin = '<h1 class="w3-jumbo w3-allerta w3-text-green w3-animate-top" id="begin">Begin!</h1>';
        $('#timer').html("");
        $('#main').html(begin);
        $("#game").html(data);
        para = data;
        words = para.split(" ");
        console.log(words);
        ctr = 0;
      });
      $('#inputbox').keyup(check_word)
    });
      var initializePage = function(){
        $('#timer').html("00:00:05");
        $('#game').html("Wait for it.");
        $('#main').html("");
        $('#result').html("");
      }

      function check_word(event){
        if(event.which==32){
          var input = $.trim($('#inputbox').val());
          console.log(input +" "+ words[ctr]);
          if(input == words[ctr]){
            //emits a 'correct' event when player types a word correctly
              socket.emit("correct",new Date());
              $('#result').html("Correct!");
              ctr++;
              $('#inputbox').val("");
          }
          else
             $('#result').html("Wrong! Type word again.");
        }
      }

      var getTimeRemaining = function(endtime){
        var now = new Date();
        var t = Date.parse(endtime) - Date.parse(now);
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60 );
        var hours = Math.floor( (t/(1000*60*60)) % 24 );
        var days = Math.floor( t/(1000*60*60*24) );

        if(t<=0){
          return {
            'total': 0,
            'days': 0,
            'hours': 0,
            'minutes': 0,
            'seconds': 0
          };
        }else{
          return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
          };
        }
      }

      function initializeClock(id, endtime){
        var clock = document.getElementById(id);
        function updateClock(){
          var t = getTimeRemaining(endtime);

          clock.innerHTML =
                            ('0' + t.hours).slice(-2) + ':' +
                            ('0' + t.minutes).slice(-2) + ':' +
                           ('0' + t.seconds).slice(-2);
          if(t.total<=0){
            clearInterval(timeinterval);
          }
        }
        updateClock()
        var timeinterval = setInterval(updateClock,1000);
      }


    </script>
  </body>
</html>
