<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <title>Type Racer</title>
  </head>
  <body>

    <div class="w3-container w3-center">
      <div id="main"></div>
      <h1 class="w3-allerta w3-text-red w3-animate-top" id="timer"></h1>
      <div class="w3-container w3-border w3-round">
        <h3 class="w3-text-grey w3-source-code" id="game"></h3>
      </div>
      <div id="result"></div>
    </div>

    <div class="inputdiv">
        <h3 class=" label w3-blue">Typing lane</h3>
        <input class="w3-topbar w3-border-blue w3-input w3-border-0 w3-light-grey w3-text-blue-grey" type="text" id="inputbox" placeholder="Ready to Race?">
        <!--<button class="w3-btn w3-green" type="submit" onclick="check_para()">Submit</button>-->
    </div>

    <!--________________________SCRIPT_______________________-->
    <script type="text/javascript">
      var ting = new Audio("sounds/Mario-coin-sound.mp3");
      var count_start , para, words, ctr,time_interval,timeinterval;
      $(document).ready(function(){
        initializePage();
        socket = io();
        var location = window.location.pathname.split('/')
        var name = location[location.length-1]
        socket.emit("new_player",name);
        socket.on('timer_is_set', function () {
          initializePage();
          now = new Date()
          count_start = now
          now.setSeconds(now.getSeconds()+5)
          initializeClock('timer',now)
        });
        socket.on('start_game', function (data) {
          var begin = '<h1 class="w3-jumbo w3-allerta w3-text-green w3-animate-top" id="begin">Begin!</h1>';
          $('#main').html(begin);
          // $("#game").html(data);
          $('#inputbox').prop('disabled',false);
          para = data;
          var input = $.trim(para);
          words = input.split(" ");
          populate_para(words);
          ctr = 0;
          clearInterval()
          initializeTimer('timer',new Date());
        });
        $('#inputbox').keydown(check_word)
      });

      var populate_para = function(words) {
        $("#game").html("");
        for(var i=0;i<words.length;i++){
           $("#game").append('<span id="w' + i + '">'+ words[i]+'</span>' +" ");
           $("#w0").css('background-color', '#FFFF99');
        }
      }

      var initializePage = function(){
        $('#timer').html("00:05:00");
        $('#game').html("Wait for it.");
        $('#main').html("");
        $('#result').html("");
        $('#inputbox').prop('disabled',false);
      }

      function check_word(event){
        ting.currentTime=0;
        if(event.which==32){
        $('#inputbox').removeAttr('placeholder');
          var input = $.trim($('#inputbox').val());
          if(input == words[ctr]){
              ting.play();
            //emits a 'correct' event when player types a word correctly
              time_passed = new Date() - count_start
              console.log(time_passed);
              socket.emit("correct",time_passed);
              $('#result').html("Correct!");
              var id = "#w" + ctr;
              $(id).css('background-color', '#FFF');
              $(id).css('color', 'green');
              ctr++;
              id = "#w" + ctr;
              $(id).css('background-color', '#FFFF99');
              if(ctr==words.length){
                clearInterval(timeinterval);
                var millis = Math.floor((time_passed%1000)/10);
                var seconds = Math.floor( (time_passed/1000) % 60 );
                var minutes = Math.floor( (time_passed/1000/60) % 60 );
                $('#timer').html(('0' + minutes).slice(-2) + ':' +('0' + seconds).slice(-2) + ':' +('0' + millis).slice(-2))
                $('#inputbox').prop('disabled',true);
              }
              $('#inputbox').val("");
          }
          else
             $('#result').html("Wrong! Type word again.");
        }
      }

      var getTimeRemaining = function(endtime){
        var now = new Date();
        var t = Date.parse(endtime) - Date.parse(now);
        endtime = new Date(endtime)
        var millis = Math.abs(endtime.getMilliseconds() - now.getMilliseconds())
        var millis = Math.floor(millis / 10 );
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60 );

        if(t<=0){
          return {
            'total': 0,
            'minutes': 0,
            'seconds': 0,
            'millis': 0
          };
        }else{
          return {
            'total': t,
            'minutes': minutes,
            'seconds': seconds,
            'millis': millis
          };
        }
      }

      var getTimeElapsed = function(starttime){
        var now = new Date();
        var t = Date.parse(now) - Date.parse(starttime);
        var millis = Math.floor( (t%1000) / 10 );
        starttime = new Date(starttime)
        var millis = Math.abs(now.getMilliseconds() - starttime.getMilliseconds())
        var millis = Math.floor(millis / 10 );
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60 );
        if(t<=0){
          return {
            'total': 0,
            'minutes': 0,
            'seconds': 0,
            'millis': 0
          };
        }else{
          return {
            'total': t,
            'minutes': minutes,
            'seconds': seconds,
            'millis': millis
          };
        }
      }

      function initializeTimer(id, starttime){
        var clock = document.getElementById(id);
        function updateTimer(){
          var t = getTimeElapsed(starttime);
          clock.innerHTML =
                            ('0' + t.minutes).slice(-2) + ':' +
                            ('0' + t.seconds).slice(-2) + ':' +
                           ('0' + t.millis).slice(-2);
        }
        updateTimer()
        timeinterval = setInterval(updateTimer,20);
      }

      function initializeClock(id, endtime){
        var clock = document.getElementById(id);
        function updateClock(){
          var t = getTimeRemaining(endtime);
          clock.innerHTML =
                            ('0' + t.minutes).slice(-2) + ':' +
                            ('0' + t.seconds).slice(-2) + ':' +
                           ('0' + t.millis).slice(-2);
          if(t.total<=0){
            clearInterval(time_interval);
          }
        }
        updateClock()
        time_interval = setInterval(updateClock,20);
      }


    </script>
  </body>
</html>
