body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("../racing-track2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}
#result
{
  margin:2px;
  color:#aaa;
}
a {
  color: #00B7FF;
}

.w3-allerta
{
  font-family: 'Allerta Stencil', serif;
}

.w3-source-code
{
  font-family: 'Source Code Pro', monospace;
}

#game
{
  text-align: left;
  font-size:1.2vw;
  padding:10px;
}

#inputbox
{
  border-top:2px solid indigo;
  text-align: center;
  font-size:50px;
  height:160px;
}
.inputdiv
{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  margin:0px;
}
.label
{
  border-radius:5px;
  z-index:1000;
  position:relative;
  bottom:-3px;
  text-align:center;
  width:140px;
  margin:auto;
}

@keyframes countdown
{
  0%{
    opacity:1;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:1;
  }
}

#timer
{
  animation:countdown 0.9s infinite;
}
#countdown
{
  text-align:center;
  z-index:9999;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  top:0px;
  background:white;
}
#signin
{
  position:relative;
  top:50px;
  width:30%;
  margin:auto;
}
.racebtn
{
  height:70px;
}
#background
{
  z-index:-1;
  opacity:0.75;
  background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,50,1));
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}
